extends layout/_default
block var
  - metas = {}
  - metas.title = 'title'
  - metas.url = 'url'
  - metas.image = 'image'
  - metas.site_name = 'site_name'
  - metas.description = 'description'
block append meta
  +meta(metas)
block title
  title gulp v4 temp
block body
  h1 サイトリスト

  ul
    li
      a(href="/index.html" target="blank") トップページ : index.html
    li
      a(href="/pages/index.html" target="blank") 下層： /pages/index.html
